{% assign education = site.data.data.education %}
{% if education %}
<section class="section educations-section">
  <h2 class="section-title">{{ education.title }}</h2>
  {% for graduation in education.info %}
  <div class="item">
    <div class="upper-row">
      <h3 class="degree">{{ graduation.degree }}</h3>
      <div class="time">{{ graduation.time }}</div>
    </div>
    <div class="university">{{ graduation.university }}</div>
    {% if graduation.details %}
    <div class="details">{{ graduation.details | markdownify }}</div>
    {% endif %}
  </div>
  {% endfor %}
</section>
{% endif %}
